@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --background-accent-dark: #ffffff;
  --background-accent-light: #f6f6f6;
  --foreground: #1c1c1c;
}

.dark {
  --background: #18191d;
  --background-accent-dark: #1e202c;
  --background-accent-light: #333742;
  --foreground: #e0e0e0;
}

@theme inline {
  --color-background: var(--background);
  --color-background-accent-dark: var(--background-accent-dark);
  --color-background-accent-light: var(--background-accent-light);
  --color-foreground: var(--foreground);
  --color-background-secondary: #f6f6f6;
  --color-utell-yellow: #fcbf49;
  --color-utell-secondary: #edddd6;
  --color-utell-daccent: #bebebe;
  --color-utell-laccent: #d9d9d9;
  --color-utell-text-dgray: #1c1c1c;
  --color-utell-text-lgray: #848484;
  --font-sans: var(--font-roboto);
}

/* This tells Tailwind v4 to use the .dark class for the dark: variant */
@custom-variant dark (&:where(.dark, .dark *));

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --foreground: #ffffff;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.rdp-root {
  --rdp-accent-color: #fcbf49;
  --rdp-accent-background-color: #edddd6; /* Change the accent background color. */
  --rdp-day-height: 60px;
  --rdp-day-width: 60px;
}
