@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #edddd6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-secondary: #f6f6f6;
  --color-utell-yellow: #fcbf49;
  --color-utell-secondary: #edddd6;
  --color-utell-daccent: #bebebe;
  --color-utell-laccent: #d9d9d9;
  --color-utell-text-dgray: #1c1c1c;
  --color-utell-text-lgray: #848484;
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.rdp-root {
  --rdp-accent-color: #fcbf49;
  --rdp-accent-background-color: #edddd6; /* Change the accent background color. */
  --rdp-day-height: 60px;
  --rdp-day-width: 60px;
}
